$bg-main-color: #333;
$nav_bar_color: rgb(238, 214, 0);

* {
    margin: 0;
    padding: 0;
}

nav {
    position: absolute;
    top: 0;
    background-color: $nav_bar_color;
    height: 64px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    #menu{
        display: flex;
        width: 60vw;
        justify-content: flex-end;
        div {
            height: 100%;
            width: 200px;
            background-color: $bg-main-color;
            text-align: center;
            a{
                color: $nav_bar_color;
            }
        }
    }
}

#content{
    height: 100vh;
    background-color: $bg-main-color;
    h1 {
        font-size: 4em;
        padding-top: 200px;
        color: whitesmoke;
    }
}